body {
    font-family: 'Open Sans Condensed', sans-serif;
}

header {
	background: #000;
	padding-bottom: 120px;
}

.blur {
    background: url(../img/main_bg.jpg) no-repeat bottom center;
    background-size: cover;
    opacity: 0.5;
    height: 400px;




}

h1 {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
position: relative;
    font-size: 64px;
margin-top: -300px;

    width:100%;
}
h2 {
position: relative;

        font-size: 24px;
color: #FFF;
    width:100%;	
    text-align: center;
}
.section h4{
	font-size: 34px;
	margin:0 0 10px 0;
}
.section {
	font-size: 26px;
	border: 1px solid #9B9B9B;
	display: block;
	margin: 0 auto;
	position: relative;
	padding: 40px;
	margin-top: 40px;
	width: 40%;
-webkit-transition: all 300ms ease; /* Firefox */
-moz-transition: all 300ms ease; /* WebKit */
-o-transition: all 300ms ease; /* Opera */
transition: all 300ms ease; /* Standard */
}
.section:hover{
	background: #CCC;
	-webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
}
.section1{
	margin-top: 80px;
}
i {
	margin-right: 20px;
}
footer{
	margin-top: 30px;
	color: #B9B7B7;
	font-size: 18px;
	text-align: center;
	background: #E7E2E2; 
	padding: 10px;

}

@media all and (max-width: 400px) {

.section{
	width:70%;
}
}